<body>
  <div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">This is a simple demonstration of an OAuth flow.</p>
    <hr class="my-4">
    <p>This page will display a link below that will take you to the Google OAuth 2.0 endpoint, where you will authorize access to your Google account. This page will then show you your user ID, a JWT to use for API calls, and the expiration time of the JWT. This is not the pinnacle of security, and JWT's should be stored in a secure method. This is purely for the ease of which to test the Marina API.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button" id="authorize">Log In with Google</a>
    </p>
  </div>